:root {
    --text-color: whitesmoke;
    --background-color: rgb(43, 42, 42);
    --background-accent: #1a1a1a;
    --navbar-color: #2e3338;
}

body {
    background-color:var(--background-color);
}



.flex-container {
    position:absolute;
    display: flex;
    width: 100%;
    padding-left: 2rem;
    flex-wrap:wrap;
}

.class-flex {
    border-radius: 25px;
    margin-top:3rem;
    margin-right:3rem;
    width: 20%;
    background-color: var(--background-accent);
    color:whitesmoke;
    transition: all 0.5s;
}

.class-title {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.label {
    width: 100%;
    font-size: 16px;
    color: white;
    margin-left: 10%;
}

.add-title {
    text-align: left;
    width: 50%;
    align-self:center;
    font-size: 20px;
    background-color: var(--background-accent);
    color: whitesmoke;
    margin-left:10%;
    margin-bottom: 5%;
    margin-right: 40%;
    padding: 1%;
    border:none;
}

.create-card-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap:wrap;
    transition: all 0.5s;
    right: 10%;
    left: 10%;
    top: 15%;
    border-radius: 25px;
    
    color:whitesmoke;
    background-color: var(--navbar-color);
}

.class-title-expanded {
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 30px;
    transition: all 0.5s;
}

.class-content {
    width: 100%;
    height: 20%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 20%;
}

.class-note {
    width: 100%;
    padding: 2%;
    padding-top: none;
    margin: 1%;
    color: var(--text-color);
    border: solid rgb(53, 53, 53) 0.5px;
}

.class-content-expanded {
    width: 70%;
    height: 30%;
    padding: 2%;
    padding-top: none;
    margin: 1%;
    color: var(--text-color);
    border: solid rgb(53, 53, 53) 0.5px;
}

.class-button {
    
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 0%;
    padding-bottom: none;
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(37, 127, 187);
    color:white;
    border: none;
}

.button-expand {
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 5%;


    padding: 10px;
    border-radius: 10px;
    background-color:rgb(37, 127, 187);
    color:white;
    border: none;
    
}

.danger {
    background-color: rgb(253, 74, 74);
    color: white;
}
.flex-assignments-container {
    display: flex;
    flex-direction: column;
    width:25%;
    margin: 1%;
    height: 500px;
    overflow:scroll;
    
    
}

.flex-header {
    width:100%;
    padding: 3%;
}

.flex-note-container {
    display: flex;
    width:100%;
    margin: 1%;
    flex-wrap: wrap;
    
}

.flex-assignments {
    border: solid rgb(53, 53, 53) 0.5px;
    width: 100%;
    padding: 2%;
   
}

.flex-assignments-title {
    width: 75%;
    font-size: 20px;
    padding:1%;
    padding-left: 0;

}

.flex-assignments-desc {
    width: 100%;
    font-size: 12px;

}

.cardExpanded {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-right: 10%;
    flex-wrap:wrap;
    transition: all 0.5s;
}

.check-icon {
    color: whitesmoke;
    float: right;
}

.check-icon:hover, .checked:hover {
    color: gray;
    background-color: whitesmoke;
    cursor: pointer;
}

.checked {
    color: var(--background-color);
    background-color: rgb(45, 182, 45);
    float:right;
}


@media only screen and (max-width: 650px) {
    .class-flex {
        border-radius: 25px;
        margin-top:3rem;
        margin-left:0.5%;
        margin-right:0.5%;
        width: 100%;
    }

    .flex-container {
        
        padding-left: 1%;
        padding-right: 1%;
    }

    .class-title-expanded {
        width: 100%;
    }

    .class-content-expanded {
        width: 100%;
        
    }

    .flex-assignments-container {
       
        width:100%;
        
        
        
        
    }
}


/* ALL THE CSS FOR SIDE BAR */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.07s;
}

/* #343a40   */
#sidebar .sidebar-header {
    padding: 20px;
    background: var(--navbar-color);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: var(--navbar-color);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: var(--navbar-color);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--navbar-color);
}
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: var(--navbar-color);
    color: whitesmoke;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}