<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="stylesheets/sidebar.css">
</head>

<body>


    <!--side bar-->
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="active">
            <!--This is the sidebar, everything in this div will show when toggled-->\
            <div class="sidebar-header">
                <ul class="list-unstyled components">
                    <p>Sidebar</p>

                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>

                    <li>
                        <a href="#">Add Classes</a>
                    </li>
                    <li>
                        <a href="#">Account Settings</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content -->
        <div id="content">
            <div class="container-fluid" style="margin: 3rem;">
                <nav class="navbar navbar-dark bg-dark fixed-top">
                    <button class="navbar-item bg-dark" type="button" onclick="toggleSideBar()" id="toggleSideBarButton"
                        style="border:none;">

                        <i class="fas fa-angle-right fa-2x" style="color:whitesmoke;" id="sidebarIcon"></i>


                    </button>

                    <div class="navbar-brand">Home</div>
                    <button class="navbar-toggler" type="button" style="border:none;" data-toggle="collapse"
                        data-target="#collapsingNavbarXs">
                        <i class="fas fa-search" style="color:whitesmoke;"></i>
                    </button>

                    <div class="navbar-collapse collapse" id="collapsingNavbarXs">
                        <form class="form-inline">
                            <input class="form-control mr-2" type="text" placeholder="Search" aria-label="Search"
                                id="searchBar">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>

            <!-- example of a card that will need to be generated and returned as html -->

            <div class="flex-container" id="classDisplay">
                <!-- Classes will be dynamically loaded here from the server -->
            </div>

        </div>
    </div>


    <% include ../partials/footer.ejs %>
    <script>

        var quill = undefined;

        //On page load run this function
        window.onload = function () {
            if (amILoggedIn()) {
                loadClasses();
            }
            else {
                window.location = "/login";
            }
        }

        var shortDescriptionLookup = new Object();
        var longDescriptionLookup = new Object();
        var buttonLookup = new Object();
        var classNoteLookup = new Object();

        // This loads all the classes you have if youre logged in
        function loadClasses() {
            $.get('/getClasses', function (classes, status) {


                classes.forEach(value => {
                    displayClass(value);
                });
            })
        }

        // this will display a class to the screen
        function displayClass(_class) {
            $('#classDisplay').append(
                "<div class='class-flex' id='classCard" + _class.id + "'><h5 class='class-title' id='classCardTitle" + _class.id + "'>" + _class.class_name + "</h5><p class='class-content' id='classCardContent" + _class.id + "'>" + _class.short_desc + "</p><button class='class-button' onclick='expandCard(" + _class.id + ")' id='expandCardButton" + _class.id + "'>Expand Class</button></div></div>");

            if (_class.note) {
                console.log("THERE IS A NOTE!");
            }
            else {
                console.log("THERE IS NO NOTE");
            }
            classNoteLookup[_class.id] = _class.note;
            longDescriptionLookup[_class.id] = _class.description;
            shortDescriptionLookup[_class.id] = _class.short_desc;
        }

        // ask the server if I am logged in
        function amILoggedIn() {
            // This would contact the server and check to see if the user is logged in
            // but for now you dont get to do that.....
            // TODO
            return true;
        }

        //this function will change the state of the sidebar
        var active = false;
        function toggleSideBar() {


            $('#sidebar').toggleClass('active');

            //change the arrow to face the right direction
            if (active) {
                $('#sidebarIcon').removeClass('fas fa-angle-left');
                $('#sidebarIcon').addClass('fas fa-angle-right');
            }
            else {
                $('#sidebarIcon').removeClass('fas fa-angle-right');
                $('#sidebarIcon').addClass('fas fa-angle-left');
            }


            if (active) {
                active = false;
            }
            else {
                active = true;
            }

        }

        async function expandCard(cardId, reload) {



            $('#classCard' + cardId).toggleClass('cardExpanded')

            // make ajax request to get assignments and class description and class note
            const response = await fetch('/getAssignments?class_id=' + cardId);
            const assignments = await response.json();





            if (document.getElementById('classCardTitle' + cardId).className == "class-title") {
                document.getElementById('classCardTitle' + cardId).className = "class-title-expanded";
                document.getElementById('classCardContent' + cardId).innerText = longDescriptionLookup[cardId];
                document.getElementById('classCardContent' + cardId).className = "class-content-expanded";
                buttonLookup[cardId] = document.getElementById('expandCardButton' + cardId).outerHTML;
                document.getElementById('expandCardButton' + cardId).remove();


                let newAssign = "<div class='flex-assignments-container' id='assignmentHolder'>";
                console.log(newAssign);

                assignments.forEach(value => {
                    newAssign += "<div class='flex-assignments' id='assignment" + value.id + "'>";
                    newAssign += "<div class='flex-assignments-title' id='assignmentTitle" + value.id + "'>";
                    newAssign += value.title;

                    if (value.finished) {
                        newAssign += "<i class='fas fa-check-square checked' onclick='checkAssign(" + value.id + ")' id='assignIcon" + value.id + "'></i>"
                    }
                    else {
                        newAssign += "<i class='fas fa-check-square check-icon' onclick='checkAssign(" + value.id + ")' id='assignIcon" + value.id + "'></i>"
                    }
                    newAssign += "</div>";

                    newAssign += "<div class='flex-assignments-desc' id'assignmentDesc" + value.id + "'>" + value.description + "</div>";


                    newAssign += "</div>";
                })
                console.log(assignments);
                newAssign += "</div>";
                newAssign += "<div id='noteContainer" + cardId + "' class='flex-note-container'></div>";

                document.getElementById('classCard' + cardId).innerHTML += newAssign;

                if (classNoteLookup[cardId]) {
                    document.getElementById('noteContainer' + cardId).innerHTML += "<h2 id='classNoteHeader" + cardId + "' class='flex-header'> Note: </h1>";
                    document.getElementById('noteContainer' + cardId).innerHTML += "<div id='classNoteContent" + cardId + "' class='class-note'>" + classNoteLookup[cardId] + "</div>";
                    document.getElementById('classCard' + cardId).innerHTML += "<button class='button-expand' onclick='editNote(" + cardId + ")' id='makeNoteButton" + cardId + "'>Edit Note</button>";
                }
                else {
                    document.getElementById('classCard' + cardId).innerHTML += "<button class='button-expand' onclick='createNote(" + cardId + ")' id='makeNoteButton" + cardId + "'>Make Note</button>";
                }

                document.getElementById('classCard' + cardId).innerHTML += buttonLookup[cardId];
                document.getElementById('expandCardButton' + cardId).className = 'button-expand';
                document.getElementById('expandCardButton' + cardId).innerText = 'Shrink Class';


            }
            else {
                document.getElementById('classCardContent' + cardId).innerText = shortDescriptionLookup[cardId];

                if (classNoteLookup[cardId]) {
                    document.getElementById('classNoteHeader' + cardId).remove();
                    document.getElementById('classNoteContent' + cardId).remove();
                }

                document.getElementById('makeNoteButton' + cardId).remove();
                document.getElementById('noteContainer' + cardId).remove();


                assignments.forEach(value => {
                    document.getElementById('assignment' + value.id).remove();
                })

                document.getElementById('assignmentHolder').remove();

                document.getElementById('classCardTitle' + cardId).className = "class-title";

                document.getElementById('classCardContent' + cardId).className = "class-content";
                document.getElementById('expandCardButton' + cardId).innerText = 'Expand Class';
                document.getElementById('expandCardButton' + cardId).className = 'class-button';



            }

        }

        function createNote(cardId) {
            let card = document.getElementById('noteContainer' + cardId);
            card.innerHTML += "<h2 id='classNoteHeader" + cardId + "' class='flex-header'> Note: </h1>";
            openAdvancedEditor("noteContainer" + cardId, '', cardId)
        }

        /************
        * openAdvancedEditor
        * this will open the enhanced text editor by quill
        */
        function openAdvancedEditor(id, placeholder, cardId) {
            let container = document.getElementById(id);
            container.innerHTML = "<div style='width:100%;'><div id='editor'>" + placeholder + "</div></div>";

            quill = new Quill('#editor', {
                theme: 'snow'
            });

            // change the save button here
            document.getElementById('makeNoteButton' + cardId).innerText = "Save Note";

            document.getElementById('makeNoteButton' + cardId).setAttribute("onClick", "saveNote( 'editor', " + cardId + ")");
        }

        function editNote(classId) {
            openAdvancedEditor('classNoteContent' + classId, document.getElementById('classNoteContent' + classId).innerHTML, classId);
        }


        function saveNote(id, classId, assignmentId) {
            let innerText = document.getElementById(id).innerText;

            if (innerText.length > 0) {
                let content = document.getElementById(id).innerHTML;
                let array = content.split('contenteditable="true">', 2);
                content = array[1];
                array = content.split('</div>', 2);
                content = array[0];



                if (assignmentId) {
                    // query info for an assignment
                    $.post('/saveNote', {
                        classId: classId,
                        content: content,
                        assignmentId: assignmentId
                    },
                        (res, status) => {
                            console.log("saveNote post finished with " + status);
                            expandCard(classId);
                            expandCard(classId);
                        })
                }
                else {

                    // query info for the class
                    $.post('/saveNote', {
                        classId: classId,
                        content: content
                    },
                        (res, status) => {
                            console.log("saveNote post finished with " + status);
                            expandCard(classId);
                            expandCard(classId);
                        })
                }




            }
            else {
                console.log("Attempting to save an empty note....");
            }

        }

        function checkAssign(assignmentId) {
            console.log("in check Assign with " + assignmentId);

            if (document.getElementById('assignIcon' + assignmentId).className == "fas fa-check-square check-icon") {
                document.getElementById('assignIcon' + assignmentId).className = "fas fa-check-square checked";
                //update information regarding done assignment

                $.post('/checkAssign', {
                    assignmentId: assignmentId
                }, (data, status) => {
                    console.log(status);
                })

            }
            else {
                document.getElementById('assignIcon' + assignmentId).className = "fas fa-check-square check-icon"
                //update database that the assignment is not done.
                $.post('/unCheckAssign', {
                    assignmentId: assignmentId
                }, (data, status) => {
                    console.log(status);
                })
            }
        }
    </script>
</body>

</html>