<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="stylesheets/sidebar.css">
</head>

<body>


    <!--side bar-->
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="active">
            <!--This is the sidebar, everything in this div will show when toggled-->\
            <div class="sidebar-header">
                <ul class="list-unstyled components">
                    <p>Sidebar</p>

                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>

                    <li>
                        <a href="javascript:addClass();">Add Classes</a>
                    </li>
                    <li>
                        <a href="#">Account Settings</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content -->
        <div id="content">
            <div class="container-fluid" style="margin: 3rem;">
                <nav class="navbar navbar-dark bg-dark fixed-top">
                    <button class="navbar-item bg-dark" type="button" onclick="toggleSideBar()" id="toggleSideBarButton"
                        style="border:none;">

                        <i class="fas fa-angle-right fa-2x" style="color:whitesmoke;" id="sidebarIcon"></i>


                    </button>

                    <div class="navbar-brand">Home</div>
                    <button class="navbar-toggler" type="button" style="border:none;" data-toggle="collapse"
                        data-target="#collapsingNavbarXs">
                        <i class="fas fa-search" style="color:whitesmoke;"></i>
                    </button>

                    <div class="navbar-collapse collapse" id="collapsingNavbarXs">
                        <form class="form-inline">
                            <input class="form-control mr-2" type="text" placeholder="Search" aria-label="Search"
                                id="searchBar">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>

            <!-- example of a card that will need to be generated and returned as html -->

            <div class="flex-container" id="classDisplay">
                <!-- Classes will be dynamically loaded here from the server -->
            </div>

        </div>
    </div>


    <% include ../partials/footer.ejs %>
    <script>

        var quill = undefined;
        var accessToken;

        //On page load run this function
        window.onload = function () {
            if (sessionStorage.getItem("accessToken")) {
                loadClasses();
            }
            else {
                showLogin();
            }
        }

        var shortDescriptionLookup = new Object();
        var longDescriptionLookup = new Object();
        var buttonLookup = new Object();
        var classNoteLookup = new Object();

        // This loads all the classes you have if youre logged in
        async function loadClasses() {

            $.ajax({
                type: "GET",
                url: "/getClasses",
                headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                success: function (classes) {
                    //set your variable to the result 
                    console.log("THE CLASSES ARE " + classes);

                    classes.forEach(value => {
                        displayClass(value);
                    });

                },
                error: function (error) {
                    //handle the error 
                }
            });
        }

        // this will display a class to the screen
        function displayClass(_class) {
            $('#classDisplay').append(
                "<div class='class-flex' id='classCard" + _class.id + "'><h5 class='class-title' id='classCardTitle" + _class.id + "'>" + _class.class_name + "</h5><p class='class-content' id='classCardContent" + _class.id + "'>" + _class.short_desc + "</p><button class='class-button' onclick='expandCard(" + _class.id + ")' id='expandCardButton" + _class.id + "'>Expand Class</button></div></div>");

            classNoteLookup[_class.id] = _class.note;
            longDescriptionLookup[_class.id] = _class.description;
            shortDescriptionLookup[_class.id] = _class.short_desc;
        }

        // ask the server if I am logged in
        function amILoggedIn() {
            // This would contact the server and check to see if the user is logged in
            // but for now you dont get to do that.....
            // TODO
            return true;
        }

        //this function will change the state of the sidebar
        var active = false;
        function toggleSideBar() {


            $('#sidebar').toggleClass('active');

            //change the arrow to face the right direction
            if (active) {
                $('#sidebarIcon').removeClass('fas fa-angle-left');
                $('#sidebarIcon').addClass('fas fa-angle-right');
            }
            else {
                $('#sidebarIcon').removeClass('fas fa-angle-right');
                $('#sidebarIcon').addClass('fas fa-angle-left');
            }


            if (active) {
                active = false;
            }
            else {
                active = true;
            }

        }

        async function expandCard(cardId, reload) {



            $('#classCard' + cardId).toggleClass('cardExpanded')

            // make ajax request to get assignments and class description and class note
            //const response = await fetch('/getAssignments?class_id=' + cardId);
            //const assignments = await response.json();

            $.ajax({
                type: "GET",
                url: "/getAssignments?class_id=" + cardId,
                headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                success: function (assignments) {
                    //set your variable to the result 
                    console.log(assignments);
                    console.log("JORDAN LOOK HERE");

                    if (document.getElementById('classCardTitle' + cardId).className == "class-title") {
                        document.getElementById('classCardTitle' + cardId).className = "class-title-expanded";
                        document.getElementById('classCardContent' + cardId).innerText = longDescriptionLookup[cardId];
                        document.getElementById('classCardContent' + cardId).className = "class-content-expanded";
                        buttonLookup[cardId] = document.getElementById('expandCardButton' + cardId).outerHTML;
                        document.getElementById('expandCardButton' + cardId).remove();


                        let newAssign = "<div class='flex-assignments-container' id='assignmentHolder'>";


                        assignments.forEach(value => {

                            console.log("JORDAN RIGHT HERE ASSIGNMENT " + value);
                            var assignment = {
                                id: value.id,
                                title: value.title,
                                desc: value.description,
                                classId: cardId
                            }
                            newAssign += "<div class='flex-assignments' id='assignment" + value.id + "'>";
                            newAssign += "<div class='flex-assignments-title' id='assignmentTitle" + value.id + "'>";
                            newAssign += "<a href='javascript:showAssignment(" + JSON.stringify(assignment) + ")'>";
                            newAssign += value.title;
                            newAssign += "</a>";

                            if (value.finished) {
                                newAssign += "<i class='fas fa-check-square checked' onclick='checkAssign(" + value.id + ")' id='assignIcon" + value.id + "'></i>"
                            }
                            else {
                                newAssign += "<i class='fas fa-check-square check-icon' onclick='checkAssign(" + value.id + ")' id='assignIcon" + value.id + "'></i>"
                            }
                            newAssign += "</div>";

                            newAssign += "<div class='flex-assignments-desc' id'assignmentDesc" + value.id + "'>" + value.description + "</div>";


                            newAssign += "</div>";
                        })
                        newAssign += "<button class='class-button' id='addAssignButton' onclick='addNewAssignment(" + cardId + ")'>New Assignment</button>";
                        newAssign += "</div>";
                        newAssign += "<div id='noteContainer" + cardId + "' class='flex-note-container'></div>";

                        document.getElementById('classCard' + cardId).innerHTML += newAssign;

                        if (classNoteLookup[cardId]) {
                            document.getElementById('noteContainer' + cardId).innerHTML += "<h2 id='classNoteHeader" + cardId + "' class='flex-header'> Note: </h1>";
                            document.getElementById('noteContainer' + cardId).innerHTML += "<div id='classNoteContent" + cardId + "' class='class-note'>" + classNoteLookup[cardId] + "</div>";
                            document.getElementById('classCard' + cardId).innerHTML += "<button class='button-expand' onclick='editNote(" + cardId + ")' id='makeNoteButton" + cardId + "'>Edit Note</button>";
                        }
                        else {
                            document.getElementById('classCard' + cardId).innerHTML += "<button class='button-expand' onclick='createNote(" + cardId + ")' id='makeNoteButton" + cardId + "'>Make Note</button>";
                        }

                        document.getElementById('classCard' + cardId).innerHTML += buttonLookup[cardId];
                        document.getElementById('expandCardButton' + cardId).className = 'button-expand';
                        document.getElementById('expandCardButton' + cardId).innerText = 'Shrink Class';


                    }
                    else {
                        document.getElementById('classCardContent' + cardId).innerText = shortDescriptionLookup[cardId];

                        if (classNoteLookup[cardId]) {

                            document.getElementById('classNoteHeader' + cardId).remove();
                            document.getElementById('classNoteContent' + cardId).remove();
                        }

                        document.getElementById('makeNoteButton' + cardId).remove();
                        document.getElementById('noteContainer' + cardId).remove();


                        assignments.forEach(value => {
                            document.getElementById('assignment' + value.id).remove();
                        })

                        document.getElementById('assignmentHolder').remove();

                        document.getElementById('classCardTitle' + cardId).className = "class-title";

                        document.getElementById('classCardContent' + cardId).className = "class-content";
                        document.getElementById('expandCardButton' + cardId).innerText = 'Expand Class';
                        document.getElementById('expandCardButton' + cardId).className = 'class-button';



                    }





                },
                error: function (error) {
                    //handle the error 
                }
            });





        }

        function createNote(cardId) {


            let card = document.getElementById('noteContainer' + cardId);
            document.getElementById('noteContainer' + cardId).innerHTML += "<h2 id='classNoteHeader" + cardId + "' class='flex-header'> Note: </h1>";
            document.getElementById('noteContainer' + cardId).innerHTML += "<div id='classNoteContent" + cardId + "' class='class-note'></div>";
            openAdvancedEditor("classNoteContent" + cardId, '', cardId)



        }

        function createAssignmentNote(assignmentInfo) {
            console.log("assignment note ", assignmentInfo);
            console.log(assignmentInfo.cardId);
            let card = document.getElementById(assignmentInfo.cardId);
            document.getElementById(assignmentInfo.cardId).innerHTML += "<h2 id='assignNoteHeader' class='flex-header'> Note: </h1>";
            document.getElementById(assignmentInfo.cardId).innerHTML += "<div id='assignNoteContent' class='class-note'></div>";
            openAdvancedEditor('assignNoteContent', '', assignmentInfo)
        }

        /************
        * openAdvancedEditor
        * this will open the enhanced text editor by quill
        */
        function openAdvancedEditor(id, placeholder, cardId) {
            let container = document.getElementById(id);
            container.innerHTML = "<div style='width:100%;'><div id='editor'>" + placeholder + "</div></div>";

            quill = new Quill('#editor', {
                theme: 'snow'
            });

            // change the save button here

            if (cardId.cardId != "assignmentCard") {

                document.getElementById('makeNoteButton' + cardId).innerText = "Save Note";
                document.getElementById('makeNoteButton' + cardId).setAttribute("onClick", "saveNote( 'editor', " + cardId + ")");


            }
            else {
                document.getElementById('editNoteButton').setAttribute('onClick', 'saveEditAssign(' + JSON.stringify(cardId) + ')')
            document.getElementById('editNoteButton').innerText = "Save Note";
            }
        }

        function saveAssignNote(assignmentInfo) {
            let innerText = document.getElementById('editor').innerText;
            console.log(innerText);
            if (innerText.length > 0) {
                var content = document.getElementById('editor').innerHTML;
                console.log(content);
                let array = content.split('contenteditable="true">', 2);
                content = array[1];
                console.log(content);
                array = content.split('</div>', 2);
                content = array[0];
                console.log(content);
            }

            var classId = assignmentInfo['classId'];
            var assignId = assignmentInfo['assignId'];
            console.log("classId " + classId + " assignId " + assignId + " content ", content);

            $.ajax(
                {
                    url: '/saveAssignNote',
                    type: 'POST',
                    dataType: 'json',
                    headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                    data: {

                        classId: classId,
                        content: content,
                        assignmentId: assignId

                    },
                    success: (data) => {
                        console.log("saveNote post finished");


                        document.getElementById('classDisplay').innerHTML = "";
                        loadClasses();
                    }
                }
            );
        }

        function editNote(classId) {
            openAdvancedEditor('classNoteContent' + classId, document.getElementById('classNoteContent' + classId).innerHTML, classId);
        }

        function editAssignNote(assignInfo) {
            openAdvancedEditor('assignmentNote', document.getElementById('assignmentNote').innerHTML, assignInfo);
            
        }

        function saveEditAssign(assignmentInfo) {
            let innerText = document.getElementById('editor').innerText;
            console.log(innerText);
            if (innerText.length > 0) {
                var content = document.getElementById('editor').innerHTML;
                console.log(content);
                let array = content.split('contenteditable="true">', 2);
                content = array[1];
                console.log(content);
                array = content.split('</div>', 2);
                content = array[0];
                console.log(content);
            }

            var classId = assignmentInfo['classId'];
            var assignId = assignmentInfo['assignId'];


            $.ajax(
                {
                    url: '/updateAssignmentNote',
                    type: 'POST',
                    dataType: 'json',
                    headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                    data: {

                        classId: classId,
                        content: content,
                        assignmentId: assignId

                    },
                    success: (data) => {
                        console.log("saveNote post finished");


                        document.getElementById('classDisplay').innerHTML = "";
                        loadClasses();
                    }
                }
            );
        }

        /****************
        * param: id, classId
        * optional param: assignmentID
        * id: the id of the quill enhanced editor
        * classId: id of the class
        * assignmentId: id of the assignment the note belongs too
        ****************/
        function saveNote(id, classId, assignmentId) {
            let innerText = document.getElementById(id).innerText;

            if (innerText.length > 0) {
                let content = document.getElementById(id).innerHTML;
                let array = content.split('contenteditable="true">', 2);
                content = array[1];
                array = content.split('</div>', 2);
                content = array[0];



                if (assignmentId) {
                    // query info for an assignment

                    $.ajax(
                        {
                            url: '/saveNote',
                            type: 'POST',
                            dataType: 'json',
                            headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                            data: {
                                classId: classId,
                                content: content,
                                assignmentId: assignmentI
                            },
                            success: (data) => {
                                console.log("saveNote post finished");
                                expandCard(classId);
                                expandCard(classId);
                            }
                        }
                    )
                }
                else {

                    // query info for the class



                    $.ajax(
                        {
                            url: '/saveNote',
                            type: 'POST',
                            dataType: 'json',
                            headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                            data: {
                                classId: classId,
                                content: content,
                            },
                            success: async function (data) {
                                console.log("saveNote post finished");
                                console.log(data);

                                if (data) {
                                    // reload the note

                                    /*
                                    const response = await fetch('/getClasses?classId=' + classId);
                                    const classNote = await response.json();
                                    console.log(classNote);
                                    console.log(classNote[0].note);
                                    */

                                    document.getElementById('classDisplay').innerHTML = "";
                                    loadClasses();

                                }
                            }
                        });
                }




            }
            else {
                console.log("Attempting to save an empty note....");
            }

        }

        function checkAssign(assignmentId) {


            if (document.getElementById('assignIcon' + assignmentId).className == "fas fa-check-square check-icon") {
                document.getElementById('assignIcon' + assignmentId).className = "fas fa-check-square checked";
                //update information regarding done assignment

                console.log("in check assignment " + assignmentId);

                $.ajax(
                    {
                        url: '/checkAssign',
                        type: 'POST',
                        dataType: 'json',
                        headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                        data: {
                            assignmentId: assignmentId
                        },
                        success: async function (data) {
                            console.log("assignmentChecked");
                            console.log(data);

                        }
                    });

            }
            else {
                document.getElementById('assignIcon' + assignmentId).className = "fas fa-check-square check-icon"
                //update database that the assignment is not done.
                console.log("remove check");
                $.ajax(
                    {
                        url: '/unCheckAssign',
                        type: 'POST',
                        dataType: 'json',
                        headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                        data: {
                            assignmentId: assignmentId
                        },
                        success: async function (data) {
                            console.log("assignmentUnChecked");
                            console.log(data);
                        }
                    });

            }
        }

        function addClass() {
            console.log("In add Class");

            toggleSideBar();

            let classCode = "<div class='create-card-container' id='newCardCreation'>";
            classCode += "<div class='class-title-expanded'>Add Class</div>";
            classCode += "<div style='color:whitesmoke; width:100%; padding: 2%; padding-bottom: 0.5%;'>Title:</div>";
            classCode += "<input type='text' class='add-title' id='addTitle'></input>";
            classCode += "<div style='color:whitesmoke; width:100%; padding: 2%; padding-bottom: 0.5%;'>Short Desc:</div>";
            classCode += "<input type='text' class='add-title' id='addShortDesc'></input>";
            classCode += "<div style='color:whitesmoke; width:100%; padding: 2%; padding-bottom: 0.5%;'>Full Desc:</div>";
            classCode += "<textarea type='text' rows='10' cols='100' class='add-title' id='addFullDesc' style='text-align:left;'></textarea>";
            classCode += "<button class='button-expand' onclick='saveNewClass()' id='saveClass'>Save Class</button>"
            classCode += "<button class='button-expand' style='background-color:red;' onclick='removeElement(\"newCardCreation\")'>Cancel</button>";
            classCode += "</div>";

            $('#classDisplay').append(classCode);

        }

        function saveNewClass() {
            console.log("in save new class");
            let title = document.getElementById('addTitle').value;
            let shortDesc = document.getElementById('addShortDesc').value;
            let description = document.getElementById('addFullDesc').value;


            $.ajax(
                {
                    url: '/addNewClass',
                    type: 'POST',
                    dataType: 'json',
                    headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                    data: {
                        title: title,
                        shortDesc: shortDesc,
                        description: description
                    },
                    success: async function (data) {
                        console.log(data);

                        if (data) {
                            removeElement('newCardCreation');
                            document.getElementById('classDisplay').innerHTML = "";
                            loadClasses();

                        }
                        else {
                            console.log(data.error);
                        }
                    }
                });
        }

        function removeElement(id) {
            console.log("removing " + id);
            document.getElementById(id).remove();
        }

        function showLogin() {
            let classCode = "<div class='create-card-container' id='loginCard'>";
            classCode += "<div class='class-title-expanded'>Login</div>";

            classCode += "<div style='color:whitesmoke; width:100%; padding: 2%; padding-bottom: 0.5%;'>Username</div>";
            classCode += "<input type='text' class='add-title' id='username' name='username'></input>";

            classCode += "<div style='color:whitesmoke; width:100%; padding: 2%; padding-bottom: 0.5%;'>Password</div>";
            classCode += "<input type='password' class='add-title' id='password' name='password'></input>";

            classCode += "<button class='button-expand' onclick='login()' id='loginButton'>Login</button>"
            classCode += "</div>";

            $('#classDisplay').append(classCode);
        }

        async function login() {
            let password = document.getElementById('password').value;
            let username = document.getElementById('username').value;

            $.ajax(
                {
                    url: '/login',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        username: username,
                        password: password
                    },
                    success: async function (data) {
                        console.log(data);

                        if (data['error'] == false) {
                            console.log("We are logged in!");
                            console.log(data.accessToken);
                            sessionStorage.setItem("accessToken", data.accessToken);

                            // start up the application! and remove login screen

                            loadClasses();

                            removeElement('loginCard');
                        }
                        else {
                            switch (data['error']) {
                                case 1: //invalid username
                                    break;
                                case 2: //invalid password
                                    break;
                                default: //unknown error....
                                    break;
                            }
                        }
                    }
                });
        }


        function showAssignment(assignment) {
            console.log(assignment);



            // query the information about notes
            $.ajax(
                {
                    url: '/getAssignmentNote?classId=' + assignment.classId + '&assignId=' + assignment.id,
                    type: 'GET',
                    dataType: 'json',
                    headers: { 'accessToken': sessionStorage.getItem("accessToken") },
                    success: (note) => {
                        console.log("note: ", note);

                        let showAssignment = "<div class='create-card-container' id='assignmentCard'>";
                        showAssignment += "<div class='class-title-expanded'>" + assignment.title + "</div>";
                        showAssignment += "<div class='class-content-expanded' style='width:100%;'>" + assignment.desc + "</div>";

                        if (note.isNote && note.count > 0) {
                            //display the note
                            const assignmentInfo = {
                                cardId: "assignmentCard",
                                classId: assignment.classId,
                                assignId: assignment.id
                            }
                            showAssignment += "<h2 id='assignmentNoteHeader' class='flex-header'> Note: </h1>";
                            showAssignment += "<div id='assignmentNote' class='class-note'>" + note.note_content + "</div>";
                            showAssignment += "<button class='button-expand' id='editNoteButton' onclick='editAssignNote(" + JSON.stringify(assignmentInfo) + ")'>Edit Note</button>";
                        }
                        else {
                            const assignmentInfo = {
                                cardId: "assignmentCard",
                                classId: assignment.classId,
                                assignId: assignment.id
                            }
                            showAssignment += "<button class='button-expand' onclick='createAssignmentNote(" + JSON.stringify(assignmentInfo) + ")' id='makeNoteButton'>Make Note</button>";
                        }

                        showAssignment += "<button class='button-expand danger' onclick='removeElement(\"assignmentCard\")' id='closeAssignment'>close</button>";
                        showAssignment += "</div>"

                        $('#classDisplay').append(showAssignment);
                    }
                });



        }




    </script>
</body>

</html>